<div class="header-menu__links lg:absolute lg:top-1/2 lg:left-1/2 lg:max-w-6xl lg:-translate-x-1/2 lg:-translate-y-1/2 header-menu__links justify-center items-center">
  {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}" class="button button--text">
        {{ link.title | escape }}
        <img src="{{ 'arrow_outward.static.svg' | asset_url }}" alt="icone flèche" class="w-6 h-6" width="24" height="24">
      </a>
      {% if link.levels >= 1 %}
          {% for sub_link in link.links %}
              <a href="{{ sub_link.url }}">
                {{ sub_link.title | escape }}
                <img src="{{ 'arrow_outward.static.svg' | asset_url }}" alt="icone flèche" class="w-6 h-6" width="24" height="24">
              </a>
          {% endfor %}
      {% endif %}
  {% endfor %}
</div>